# **Extract Transform Load (ETL) Lab from Any sourse**

## Objectives

After completing this lab you will be able to:

*   Read CSV and JSON file types.
*   Extract data from the above file types.
*   Transform data.
*   Save the transformed data in a ready-to-load format which data engineers can use to load into an RDBMS.

In [9]:
import glob                         # this module helps in selecting files 
import pandas as pd                 # this module helps in processing CSV files
import xml.etree.ElementTree as ET  # this module helps in processing XML files.
from datetime import datetime

In [10]:
#            # all event logs will be stored in this file
targetfile = "./data/20181024_d1_0830_0900.csv"   # file where transformed data is stored

In [13]:
dataframe1 = pd.read_excel('./data/BIC_Wholesale_Markets2019.xlsx')
dataframe1

,Unnamed: 0,Unnamed: 1
0,Data Dictionary - Dataset Information,NaN
1,NaN,NaN
2,General,NaN
3,Dataset Name,BIC Wholesale Markets
4,Agency Name,Business Integrity Commission (BIC)
5,Update Frequency,Daily
6,Dataset Description,Dataset notating the approved wholesale market...
7,Dataset Keywords,"nycbic, bic, business integrity commission, wh..."
8,Dataset Category,City Government
9,Detailed Description,NaN
10,List any additional information in order to pr...,This data is collected on the entities that ap...
11,Why is this data collected?\n\nHow is this dat...,NaN
12,NaN,NaN
13,NaN,NaN
14,NaN,NaN
15,Form V 1.0,NaN

In [11]:
dataframe = pd.read_csv('./data/20181024_d1_0830_0900.csv')

print(dataframe.shape)

(922, 1)

## Date Extract

### Extract csv data

In [4]:

def extract_from_csv(path):
    dataframe = pd.read_csv(path)
    #print(dataframe.shape)
    return dataframe

In [7]:
def extract():
    extracted_data = pd.DataFrame() # create an empty data frame to hold extracted data
    
    #process all csv files
    for csvfile in glob.glob("./data/*.csv"):
        extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)  
        #print(extracted_data.shap)     
    return extracted_data

In [8]:
n = extract()

/tmp/ipykernel_45224/3325804414.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
/tmp/ipykernel_45224/3325804414.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)

In [37]:
n

     track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time
0     1; Bus; 17.84; 17.835195; 37.977149; 23.737802...
1     2; Motorcycle; 25.20; 18.896364; 37.977303; 23...
2     3; Car; 55.26; 22.605440; 37.977436; 23.737727...
3     4; Medium Vehicle; 55.29; 29.273728; 37.977472...
4     5; Motorcycle; 46.25; 24.486125; 37.977489; 23...
...                                                 ...
1565  918; Car; 78.83; 30.846243; 37.980629; 23.7350...
1566  919; Motorcycle; 19.50; 9.234518; 37.979327; 2...
1567  920; Car; 48.97; 24.486209; 37.978413; 23.7355...
1568  921; Motorcycle; 46.68; 30.007124; 37.980020; ...
1569  922; Car; 35.00; 23.335533; 37.978428; 23.7355...

[1570 rows x 1 columns]

### Simple Data Transformation

In [105]:
def transform(data):
        data['height'] = round(data.height * 0.0254,2)
        data['weight'] = round(data.weight * 0.45359237,2)
        return data

Loading and logging

In [106]:
def load(targetfile,data_to_load):
    data_to_load.to_csv(targetfile)

logginf fun

In [107]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

### Excute all

In [108]:
log("ETL Job Started")

In [109]:
log("Extract phase Started")
extracted_data = extract()
log("Extract phase Ended")
extracted_data

(5, 3)
(5, 3)
(5, 3)
(0, 5)
(4, 3)
(4, 3)
(4, 3)
(1, 3)
(2, 3)
(3, 3)
(4, 3)

C:\Users\user\AppData\Local\Temp\ipykernel_7112\1191520049.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_7112\1191520049.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_7112\1191520049.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_7112\1191520049.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_7112\1191520049.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_7112\1191520049.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_7112\1191520049.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_7112\4231856960.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"name":name, "height":height, "weight":weight}, ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_7112\4231856960.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"name":name, "height":height, "weight":weight}, ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_7112\4231856960.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"name":name, "height":height, "weight":weight}, ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_7112\4231856960.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"name":name, "height":height, "weight":weight}, ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_7112\1191520049.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_xml(xmlfile), ignore_index=True)

(1, 3)
(2, 3)
(3, 3)
(4, 3)
(1, 3)
(2, 3)
(3, 3)
(4, 3)

C:\Users\user\AppData\Local\Temp\ipykernel_7112\4231856960.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"name":name, "height":height, "weight":weight}, ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_7112\4231856960.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"name":name, "height":height, "weight":weight}, ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_7112\4231856960.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"name":name, "height":height, "weight":weight}, ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_7112\4231856960.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"name":name, "height":height, "weight":weight}, ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_7112\1191520049.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_xml(xmlfile), ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_7112\4231856960.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"name":name, "height":height, "weight":weight}, ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_7112\4231856960.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"name":name, "height":height, "weight":weight}, ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_7112\4231856960.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"name":name, "height":height, "weight":weight}, ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_7112\4231856960.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"name":name, "height":height, "weight":weight}, ignore_index=True)
C:\Users\user\AppData\Local\Temp\ipykernel_7112\1191520049.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_xml(xmlfile), ignore_index=True)

     name  height  weight Unnamed: 0.1 Unnamed: 0
0    alex   65.78  112.99          NaN        NaN
1    ajay   71.52  136.49          NaN        NaN
2   alice   69.40  153.03          NaN        NaN
3    ravi   68.22  142.34          NaN        NaN
4     joe   67.79  144.30          NaN        NaN
5    alex   65.78  112.99          NaN        NaN
6    ajay   71.52  136.49          NaN        NaN
7   alice   69.40  153.03          NaN        NaN
8    ravi   68.22  142.34          NaN        NaN
9     joe   67.79  144.30          NaN        NaN
10   alex   65.78  112.99          NaN        NaN
11   ajay   71.52  136.49          NaN        NaN
12  alice   69.40  153.03          NaN        NaN
13   ravi   68.22  142.34          NaN        NaN
14    joe   67.79  144.30          NaN        NaN
15   jack   68.70  123.30          NaN        NaN
16    tom   69.80  141.49          NaN        NaN
17  tracy   70.01  136.46          NaN        NaN
18   john   67.90  112.37          NaN        NaN
19   jack   68.70  123.30          NaN        NaN
20    tom   69.80  141.49          NaN        NaN
21  tracy   70.01  136.46          NaN        NaN
22   john   67.90  112.37          NaN        NaN
23   jack   68.70  123.30          NaN        NaN
24    tom   69.80  141.49          NaN        NaN
25  tracy   70.01  136.46          NaN        NaN
26   john   67.90  112.37          NaN        NaN
27  simon   67.90  112.37          NaN        NaN
28  jacob   66.78  120.67          NaN        NaN
29  cindy   66.49  127.45          NaN        NaN
30   ivan   67.62  114.14          NaN        NaN
31  simon   67.90  112.37          NaN        NaN
32  jacob   66.78  120.67          NaN        NaN
33  cindy   66.49  127.45          NaN        NaN
34   ivan   67.62  114.14          NaN        NaN
35  simon   67.90  112.37          NaN        NaN
36  jacob   66.78  120.67          NaN        NaN
37  cindy   66.49  127.45          NaN        NaN
38   ivan   67.62  114.14          NaN        NaN

In [110]:
log("Transform phase Started")
transformed_data = transform(extracted_data)
log("Transform phase Ended")
transformed_data

     name  height  weight Unnamed: 0.1 Unnamed: 0
0    alex    1.67   51.25          NaN        NaN
1    ajay    1.82   61.91          NaN        NaN
2   alice    1.76   69.41          NaN        NaN
3    ravi    1.73   64.56          NaN        NaN
4     joe    1.72   65.45          NaN        NaN
5    alex    1.67   51.25          NaN        NaN
6    ajay    1.82   61.91          NaN        NaN
7   alice    1.76   69.41          NaN        NaN
8    ravi    1.73   64.56          NaN        NaN
9     joe    1.72   65.45          NaN        NaN
10   alex    1.67   51.25          NaN        NaN
11   ajay    1.82   61.91          NaN        NaN
12  alice    1.76   69.41          NaN        NaN
13   ravi    1.73   64.56          NaN        NaN
14    joe    1.72   65.45          NaN        NaN
15   jack    1.74   55.93          NaN        NaN
16    tom    1.77   64.18          NaN        NaN
17  tracy    1.78   61.90          NaN        NaN
18   john    1.72   50.97          NaN        NaN
19   jack    1.74   55.93          NaN        NaN
20    tom    1.77   64.18          NaN        NaN
21  tracy    1.78   61.90          NaN        NaN
22   john    1.72   50.97          NaN        NaN
23   jack    1.74   55.93          NaN        NaN
24    tom    1.77   64.18          NaN        NaN
25  tracy    1.78   61.90          NaN        NaN
26   john    1.72   50.97          NaN        NaN
27  simon    1.72   50.97          NaN        NaN
28  jacob    1.70   54.73          NaN        NaN
29  cindy    1.69   57.81          NaN        NaN
30   ivan    1.72   51.77          NaN        NaN
31  simon    1.72   50.97          NaN        NaN
32  jacob    1.70   54.73          NaN        NaN
33  cindy    1.69   57.81          NaN        NaN
34   ivan    1.72   51.77          NaN        NaN
35  simon    1.72   50.97          NaN        NaN
36  jacob    1.70   54.73          NaN        NaN
37  cindy    1.69   57.81          NaN        NaN
38   ivan    1.72   51.77          NaN        NaN

In [111]:
log("Load phase Started")
load(targetfile,transformed_data)
log("Load phase Ended")

In [112]:
log("ETL Job Ended")

### End of ETL